.contactPage {
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-color: $dark;
    color: $white;
    padding-bottom: 10vh;

    .contactTitle {
        font-size: clamp(42px, 5.5vw, 110px);
        line-height: 1;
        font-weight: 700; 
        z-index: 10;
        padding-top: 20vh;
        margin-bottom: 100px;
        position: relative;
    }

    .titleGold {
        z-index: 10;
        position: relative;
        margin-top: 100px;
        max-width: 800px;
    }
}

img.map {
    position: absolute;
    object-fit: cover;
    right: -25vw;
    z-index: 1;
    max-height: 130vh;
    top: -5vh;
}

img.contactBG {
    position: absolute;
    z-index: 0;
    opacity: .08;
}

.contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 10;
    position: relative;
    max-width: 700px;
    column-gap: 50px;
    row-gap: 50px;
    @include responsive('tablet') {
        row-gap: 0;
    }
}

.contact--col {
    grid-column: span 1;
    font-weight: normal;

    h2 {
        margin-bottom: 20px;
    }

    @include responsive('tablet'){
        grid-column: span 2;
    }
}

.form {
    margin-top: 100px;
    z-index: 10;
    position: relative;
}

.contactClock {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
}

.clockOpen {
    font-weight: 300;
}
